@import "tools/font.css";
/*
Vla
Tex\Web_App\html\
Tex-Bold
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #000 url("../../assets/background/Medieval_Index.png") no-repeat;
    background-size: 100%;
}

.middle-line {
    position: relative;
    top: 75px;
    border: 0.01px solid #EADAC2;
    width: 95%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    margin-top: 10px;
}

.navbar, .middle-line {
    transform: scale(0.95);
}

.navbar-left {
    display: flex;
    align-items: center;
    position: fixed;
    left: 5%;
    margin-top: 6px;
}

.navbar-left a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #EADAC2;
    border-radius: 8px;
    background: rgba(234, 218, 194, 0.3);
    padding: 1px 8px 1px 8px;
}

.navbar-left img {
    width: 70%;
}

.navbar-left p {
    margin-top: 7px;
    transform: translateX(25px);
    font-family: Vla;
    font-size: 40px;
    color: #EADAC2;
}

.navbar-right {
    display: flex;
    align-items: center;
    position: fixed;
    right: 5%;

    background: rgba(234, 218, 194, 0.2);
    border: 2px solid #EADAC2;
    border-radius: 8px;

    margin-top: 6px;
     
}

.navbar-right a {
    display: flex;
    text-decoration: none;
    padding: 8px 35px 9px 18px;
}

.navbar-right p {
    font-family: Tex;
    font-size: 20px;
    color: #DFB370;
}

.navbar-right img {
    width: 25%;
    height: 30%;
    transform: translateX(38px);
    transition: ease 1s;
}

