/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F8E7CD;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #DFB370;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ad8b57;
    border-radius: 8px;
}