/* width */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #D6DDEC;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6F9FC4;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #296CA6;
    border-radius: 8px;
}