@import "./font.css";

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.main {
    /* main */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 109px 0px 0px 0px;

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 136.94px;

}

.download_rayon {
    /* download_rayon */


    width: 60%;
    height: 100%;

    background: url("../assets/items/download_rayon.png") no-repeat;
    background-size: 100%;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.download_rayon_link {
    position: absolute;
    left: 46.3%;
    width: 13.5%;
    height: 25%;
    border: 3px solid unset;
    border-radius: 100%;
}

.categories {
    /* Categories */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0 0 20px;

    width: max-content;
    height: min-content;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}



@media (min-width: 1700px) {
    .download {
        /* Download */


        /* Auto layout */

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 0px;
        gap: 0px;

        width: max-content;
        height: 250px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    .download_title {
        /* download_title */


        width: 600px;
        height: 70px;

        font-family: 'Vlaanderen Chiseled NF';
        font-style: normal;
        font-weight: 400;
        font-size: 78px;
        line-height: 70px;

        padding-bottom: 20px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: 0.025em;

        color: #EADAC2;

        text-decoration: none;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .download_subtitles {
        /* download_subtitles */
    
    
        /* Auto layout */
    
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
    
        width: 412px;
        height: 40px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    
    .download_subtitles_title {
        width: 340px;
        height: 30px;
    
        font-family: 'TeX Gyre Adventor';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        display: flex;
        align-items: center;
        letter-spacing: 0.025em;
    
        color: #DFB370;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    .download_subtitles_platform {
        /* download_subtitles_platform */
    
    
        width: 146px;
        height: 32.9px;
    
        background: url(../assets/items/download_subtitles_platform.png) no-repeat;
        background-size: 100%;
        background-position-y: center;
        margin-top: 12px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .content {
        /* Content */


        /* Auto layout */

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 0px;

        width: max-content;
        height: 320px;
        gap: 20px;

        transform: translateX(-10%);
        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .content_button {
        /* content_button */


        width: 180px;
        height: 180px;

        background: url(../assets/items/content_button.png) no-repeat;
        background-size: 100%;
        background-position: center;
        

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .content_texts {
        /* content_texts */


        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 1.8px;

        width: 269px;
        height: 90px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .content_title {
        /* content_title */


        width: 183px;
        height: 52px;

        font-family: 'Vlaanderen Chiseled NF';
        font-style: normal;
        font-weight: 400;
        font-size: 78px;
        line-height: 52px;
        display: flex;
        align-items: center;
        letter-spacing: 0.025em;

        color: #EADAC2;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .content_subtitle {
        /* content_subtitle */


        width: 350px;
        height: 70px;

        font-family: 'TeX Gyre Adventor';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: 0.025em;

        color: #DFB370;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .faq {
        /* faq */
    
    
        /* Auto layout */
    
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 0px;
    
        width: max-faq;
        height: 170px;
        gap: 20px;
    
        transform: translateX(20%);
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .faq_button {
        /* faq_button */
    
    
        width: 180px;
        height: 180px;
    
        background: url(../assets/items/faq_button.png) no-repeat;
        background-size: 100%;
        background-position: center;
        
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .faq_texts {
        /* faq_texts */
    
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 1.8px;
    
        width: 269px;
        height: 80px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .faq_title {
        /* faq_title */
    
    
        width: 183px;
        height: 52px;
    
        font-family: 'Vlaanderen Chiseled NF';
        font-style: normal;
        font-weight: 400;
        font-size: 78px;
        line-height: 52px;
        display: flex;
        align-items: center;
        letter-spacing: 0.025em;
    
        color: #EADAC2;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .faq_subtitle {
        /* faq_subtitle */
    
    
        width: 400px;
        height: 60px;
    
        font-family: 'TeX Gyre Adventor';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;
        /* identical to box height */
    
        display: flex;
        align-items: center;
        letter-spacing: 0.025em;
    
        color: #DFB370;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}


@media (max-width: 1700px) {
    .download {
        /* Download */
    
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 0px;
        gap: 0px;
    
        width: max-content;
        height: 170px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .download_title {
        /* download_title */


        width: 440px;
        height: 70px;

        font-family: 'Vlaanderen Chiseled NF';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 70px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: 0.025em;

        color: #EADAC2;

        text-decoration: none;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .download_subtitles {
        /* download_subtitles */
    
    
        /* Auto layout */
    
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
    
        width: 412px;
        height: 30px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    
    .download_subtitles_title {
        width: 220px;
        height: 30px;
    
        font-family: 'TeX Gyre Adventor';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        display: flex;
        align-items: center;
        letter-spacing: 0.025em;
    
        color: #DFB370;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    .download_subtitles_platform {
        /* download_subtitles_platform */
    
    
        width: 146px;
        height: 32.9px;
    
        background: url(../assets/items/download_subtitles_platform.png) no-repeat;
        background-size: 70%;
        background-position-y: center;
        margin-top: 7px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .content {
        /* Content */


        /* Auto layout */

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 0px;

        width: max-content;
        height: 130px;
        gap: 20px;

        transform: translateX(-10%);
        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .content_button {
        /* content_button */


        width: 110px;
        height: 110px;

        background: url(../assets/items/content_button.png) no-repeat;
        background-size: 100%;
        background-position: center;
        

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .content_texts {
        /* content_texts */


        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 1.8px;

        width: 269px;
        height: 80px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .content_title {
        /* content_title */


        width: 183px;
        height: 52px;

        font-family: 'Vlaanderen Chiseled NF';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 52px;
        display: flex;
        align-items: center;
        letter-spacing: 0.025em;

        color: #EADAC2;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .content_subtitle {
        /* content_subtitle */


        width: 269px;
        height: 30px;

        font-family: 'TeX Gyre Adventor';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 47px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: 0.025em;

        color: #DFB370;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .faq {
        /* faq */
    
    
        /* Auto layout */
    
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 0px;
    
        width: max-faq;
        height: 130px;
        gap: 20px;
    
        transform: translateX(10%);
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .faq_button {
        /* faq_button */
    
    
        width: 110px;
        height: 110px;
    
        background: url(../assets/items/faq_button.png) no-repeat;
        background-size: 100%;
        background-position: center;
        
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .faq_texts {
        /* faq_texts */
    
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 1.8px;
    
        width: 269px;
        height: 80px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .faq_title {
        /* faq_title */
    
    
        width: 183px;
        height: 52px;
    
        font-family: 'Vlaanderen Chiseled NF';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 52px;
        display: flex;
        align-items: center;
        letter-spacing: 0.025em;
    
        color: #EADAC2;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .faq_subtitle {
        /* faq_subtitle */
    
    
        width: 269px;
        height: 30px;
    
        font-family: 'TeX Gyre Adventor';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 47px;
        /* identical to box height */
    
        display: flex;
        align-items: center;
        letter-spacing: 0.025em;
    
        color: #DFB370;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}



