@import "tools/font.css";
/*
Vla
Tex\Web_App\html\
Tex-Bold
*/

* {
    margin: 0;
    padding: 0;
}

.download-page {
    display: flex;
}

.download-page-rayon {
    position: absolute;
    width: 60vw;
    height: 100%;
    left: 0;
    top: 0;
    margin-top: 13%;
    
    background: url("../assets/items/download_icon_index.png") no-repeat;
    background-size: 60vw;
}

.main-page {
    display: block;
}

.download-page-rayon-link {
    position: absolute;
    width: 14vw;
    height: 14vw;
    left: 46vw;

    border: 2px solid unset;
    border-radius: 70%;
}

.download-page-texts {
    display: block;
}
.download-page-texts-subtitles {
    display: flex;
}