* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html,body{
    overflow: hidden;
}

html,body,section{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;

}

section {
    display: flex;
    width: 1060px;
    height: 100%;
    overflow: clip;
}

section .illustration {
    position: absolute;
    width: 50vw;
    height: 100%;
    top: 100px;
    right: 0px;
    overflow: hidden;
}

.container {
    position: relative;
    left: 0;
    height: 350px;
    width: 430px;
}

.container .wrapper {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: var(--bg-color);
    border: 2px dashed var(--bg-color-dm);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper .icon {
    font-size: 100px;
    color: var(--main-color);
}

.wrapper .text {
    font-size: 20px;
    font-weight: 500;
    color: var(--bg-color-dim);
}

.wrapper #cancel-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 30px;
    cursor: pointer;
    color: var(--main-color);
    display: none;
}

.wrapper.active:hover #cancel-btn {
    display: block;
}

.wrapper #cancel-btn:hover {
    color: var(--warm-color);
}

.wrapper .file-name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: var(--bg-color);
    padding: 8px 0;
    font-size: 18px;
    background: var(--main-color);
    display: none;
}

.wrapper.active:hover .file-name {
    display: block;
}

.container #custom-btn {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: block;
    border: none;
    outline: none;
    border-radius: 25px;
    color: var(--bg-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--main-color);
}

.container #upload-btn {
    color: var(--text-color);
    border: 3px solid var(--warm-bright-color);
    background-color: var(--bg-color);
    outline: none;
    border-radius: 25px;
    width: 50%;
    height: 50px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .20s ease;
}

.container #upload-btn:hover {
    background: var(--warm-bright-color);
    color: var(--bg-color);
}

