* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html,body{
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section .illustration {
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
    top: 10vh;
    left: 20px;
}

.download-link-android {
    position: relative;
    width: 250px;
    height: auto;
    margin: auto;
}

.download-link-android img {
    height: 100%;
    width: 250px;
    top: 30vh;    
}